@import "tailwindcss";

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/futura-condensed-pt/futura-condensed-pt-medium.otf"),
    url("/fonts/futura-condensed-pt/futura-pt-bold.otf"),
    url("/fonts/futura-condensed-pt/futura-pt-book.otf"),
    url("/fonts/futura-condensed-pt/futura-pt-light.otf");
}

@theme {
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);
  --color-foreground: var(--foreground);
  --color-on-foreground: var(--on-foreground);
  --color-foreground-muted: var(--foreground-muted);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #fcf2d7;
  --background-muted: #746f64;
  --foreground: #171715;
  --on-foreground: #fcf2d7;
  --foreground-muted: #3a3a34;
}

.dark {
  --background: #171715;
  --background-muted: #3a3a34;
  --foreground: #fcf2d7;
  --on-foreground: #171715;
  --foreground-muted: #746f64;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

* {
  font-family: "Futura PT", "Times New Roman", Times, serif;
}
